/Users/KaKaU/Developer/CourseRecommender/CourseRecommender.xcodeproj/Users/KaKaU/Developer/CourseRecommender/CourseRecommender/CourseRecommender.1
CourseRecommender.xcodeproj/project.xcworkspace/xcuserdata/KaKaU.xcuserdatad/UserInterfaceState.xcuserstate

CourseRecommender.xcodeproj/xcuserdata/KaKaU.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

CourseRecommender.xcodeproj/project.pbxproj

CourseRecommender.xcodeproj/project.xcworkspace/xcuserdata/KaKaU.xcuserdatad/UserInterfaceState.xcuserstate

CourseRecommender.xcodeproj/xcuserdata/KaKaU.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

CourseRecommender.xcodeproj/project.xcworkspace/xcuserdata/KaKaU.xcuserdatad/UserInterfaceState.xcuserstate

CourseRecommender.xcodeproj/xcuserdata/KaKaU.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

CourseRecommender.xcodeproj/xcuserdata/KaKaU.xcuserdatad/xcschemes/CourseRecommender.xcscheme
